.playlist__body {
    background: #121212;
}

.main-playlistPg-flex {
    display: flex;

    .playlist-wrapper-data {
        background: linear-gradient(#DEF628, #121212);
    }
}

.main-playlist-wrapper {
    width: 100%;
}

.playlist-wrapper-data {
    padding: 0px 40px;
    padding-top: 30px;
    width: 100%;
    padding-bottom: 30px;

    .container {
        display: flex;
        align-items: center;

        img {
            width: 297px;
            height: 297px;
            box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.25);
            margin-right: 32px;
        }
    }
}

.playlist-wrapper-data-text {
    text-transform: capitalize;
    color: #fff;

    p {
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 500;
    }

    h1 {
        font-size: 100px;
        font-weight: 900;
        margin-bottom: 12px;
    }
}

.controls {
    display: flex;
    align-items: center;
    background: #121212;
    padding: 30px 40px;
    justify-content: space-between;
}

.play {
    display: flex;
    align-items: center;
    gap: 20px;

    img {
        opacity: 0.8;

        &:first-child {
            margin-right: 10px;
        }

        &:hover {
            opacity: 1;
            transform: scale(1.10000);
        }
    }

    svg {
        opacity: 0.8;
        font-size: 50px;
        color: #fff;

        &:hover {
            opacity: 1;
            transform: scale(1.10000);
        }
    }
}

.filter {
    display: flex;
    color: #fff;

    .searchIcon {
        font-size: 23px;
        margin-right: 31px;
    }

    p {
        font-size: 18px;
        font-weight: 450;
        align-items: center;
        display: flex;
        gap: 15px;

        svg {
            font-size: 13px;
        }
    }
}

.tracks-section {
    background: #121212;
    padding: 0px 60px;
    color: #fff;
    // padding-top: 22px;
}

.track__single {
    display: flex;
    // justify-content: space-between;
    padding: 10px 0px;
    align-items: center;

    .track__main_text {
        display: flex;
        flex-direction: column;
        gap: 3px;
        text-transform: capitalize;
        margin-right: 60px;
        max-width: 210px;
        width: 100%;

        h4 {
            color: #fff;
            font-size: 20px;
            font-weight: 400;
            cursor: pointer;
        }

        p {
            font-size: 17px;
            color: #B3B3B3;
        }
    }

    img {
        width: 52px;
        height: 52px;
        margin-right: 21px;
        cursor: pointer;
    }
}

.heart-single__song {
    margin-left: 54px;
    margin-right: 34px;
    opacity: 0.5;
    font-size: 19px;
    cursor: pointer;
}

.album__name {
    flex: 1;
}

.audioPlayer {
    display: none;
}

.track__length {
    width: 42px;
}




// Playing Animation ///////////



.animation {
    position: relative;
    display: none;
}

.animation span {
    width: 5px;
    height: 5px;
    bottom: 0px;
    position: absolute;
    background: #1ed760;
    animation: bodong 0.5s infinite ease;
}

.animation span:first-child {
    left: 0px;
    animation-delay: .3s;
}

.animation span:nth-child(2) {
    left: 7px;
    animation-delay: .4s;

}

.animation span:nth-child(3) {
    left: 14px;
    animation-delay: .6s;
}

.animation span:nth-child(4) {
    left: 21px;
    animation-delay: .8s;
}

.animation span:nth-child(5) {
    left: 28px;
    animation-delay: 1s;
}

@keyframes bodong {
    0% {
        height: 5px;
        background: #1ed760;
    }

    30% {
        height: 15px;
        background: #1ed760;
    }

    60% {
        height: 20px;
        background: #1ed760;
    }

    80% {
        height: 15px;
        background: #1ed760;
    }

    100% {
        height: 5px;
        background: #1ed760;
    }
}