.sidebar-wrapper {
    background: #000;
    max-width: 310px;
    min-width: 270px;
    width: 100%;
    color: #fff;
}

a {
    text-decoration: none;
}

ul,
li,
ol {
    list-style: none;
}

.major {
    padding-top: 70px;
    padding-left: 25px;
    a{
        color: #fff;
    }
}

.minor {
    padding-top: 20px;
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    a {
        font-size: 18px;
        color: #B3B3B3;
        font-weight: 400;
        text-transform: capitalize;
    }
}

ul {
    .li {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: 700;
        opacity: 0.7;

        &:nth-child(3) {
            margin-bottom: 50px;
            color: #fff;
        }
    }

    border-bottom: 1px solid #282828;
}